{% load widget_tweaks %}

<dialog id="{{ modal_id }}" class="modal rounded-lg bg-white text-left shadow-xl sm:w-full sm:max-w-lg" aria-labelledby="modal-title" aria-modal="true">
    <form method="post">
        <div class="space-y-6 bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
            {% include "./basic.html" %}
        </div>
        <div class="bg-gray-50 px-4 pt-3 pb-5 sm:flex sm:flex-row-reverse sm:px-6">
            <button type="submit" class="inline-flex w-full justify-center rounded-md px-3 py-2 text-sm font-semibold shadow-sm
                {% if modal_confirm_color == "red" %}
                    bg-red-500 hover:bg-red-600 text-white
                {% elif modal_confirm_color == "green" %}
                    bg-green-500 hover:bg-green-600 text-white
                {% elif modal_confirm_color == "blue" %}
                    bg-cyan-500 hover:bg-cyan-600 text-white
                {% else %}
                    bg-white ring-1 ring-inset ring-gray-300 hover:bg-gray-50 text-gray-900
                {% endif %}
                {% if modal_cancel_enabled %}
                    sm:ml-3 sm:w-auto
                {% endif %}
            ">{{ modal_confirm_label }}</button>
            {% if modal_cancel_enabled %}
            <button type="button" data-dismiss="{{ modal_id }}" class="mt-3 inline-flex w-full justify-center rounded-md px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm bg-white ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">{{ modal_cancel_label }}</button>
            {% endif %}
        </div>
    </form>
</dialog>
