/VSCodeUserSetup-x64-1.76.2.exe
.DS_Store
__pycache__/
node_modules/
/dist

# local env files
.venv/
.env
.env.local
.env.*.local

config.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
