{% extends "dashboard/base.html" %}

{% block script %}
<script>
let modal

document.addEventListener("DOMContentLoaded", () => {
    const buttons = document.querySelectorAll("button[data-modal]")
    buttons.forEach((btn) => {
        btn.onclick = openModal
    })
})

function openModal() {
    if (modal)  // How?
        closeModal()
    modal = document.getElementById(this.getAttribute("data-modal"))

    const buttons = modal.querySelectorAll("button[data-dismiss]")
    buttons.forEach((btn) => {
        btn.onclick = closeModal
    })

    document.documentElement.style.overflow = "hidden"
    modal.classList.remove("hidden")
}

function closeModal() {
    if (!modal)  // Just in-case
        modal = document.getElementById(this.getAttribute("data-dismiss"))
    document.documentElement.style.overflow = ""
    modal.classList.add("hidden")
    modal = null
}

window.onclick = function(event) {
    if (modal && event.target === modal.children[1].children[0])
        closeModal()
}
</script>
{% endblock %}
