{% extends "dashboard/base.html" %}

{% block script %}
<script>
let openedModal = null

document.addEventListener("DOMContentLoaded", () => {
    const buttons = document.querySelectorAll("button[data-modal]")
    buttons.forEach((btn) => {
        btn.onclick = openModal
    })

    const modals = document.querySelectorAll("dialog.modal")
    modals.forEach((modal) => {
        modal.addEventListener("cancel", (event) => {
            event.preventDefault()
            closeModal()
        })
    })

    {% if form.errors and form.modal_id %}
    const modal = document.querySelector("#{{ form.modal_id }}")
    openModal(modal)
    {% endif %}
})

function openModal(probablyModal) {
    if (openedModal)  // How?
        closeModal()
    openedModal = probablyModal instanceof HTMLDialogElement ? probablyModal : document.querySelector(this.getAttribute("data-modal"))

    const buttons = openedModal.querySelectorAll("button[data-dismiss]")
    buttons.forEach((btn) => {
        btn.onclick = closeModal
    })

    document.documentElement.style.overflow = "hidden"
    openedModal.showModal()
}

function closeModal() {
    if (!openedModal ) {  // Just in-case
        if (!(this instanceof HTMLButtonElement))
            return
        openedModal = document.querySelector(this.getAttribute("data-dismiss"))
        if (!openedModal)  // Let's just assume it's already closed
            openedModal = null
    }
    document.documentElement.style.overflow = ""
    openedModal.classList.add("hide")

    openedModal.addEventListener("animationend", function() {
        if (!openedModal)
            return
        openedModal.classList.remove("hide")
        const form = openedModal.querySelector("form")
        if (form)
            form.reset()

        openedModal.close()
        openedModal = null
    }, { once: true })
}

window.onclick = function(event) {
    if (openedModal && event.target === openedModal)
        closeModal()
}
</script>
{% endblock %}
