{% extends "dashboard/base.html" %}

{% block inner-content %}
<div>

    <h1 class="text-lg font-medium">WO List</h1>

    <div class="m-4">
        <h2 class="text font-medium">Backlog</h2>
        <p class="p-4 text-sm text-center text-gray-400">
            No backlog yet.
        </p>
    </div>

    <div class="m-4">
        <div class="flex flex-row items-center space-x-4">
            <h2 class="text font-medium">In Progress</h2>
            <button class="flex px-4 py-1 text-white bg-cyan-500 rounded-xl">
                <span class="material-symbols-outlined">
                   print
                </span>
            </button>
        </div>
        <p class="p-4 text-sm text-center text-gray-400">
            No backlog yet.
        </p>
    </div>

    <div class="m-4">
        <div class="flex flex-row items-center space-x-4">
            <h2 class="text font-medium">History</h2>
            <button class="flex px-4 py-1 text-white bg-cyan-500 rounded-xl">
                <span class="material-symbols-outlined">
                   print
                </span>
            </button>
        </div>
        <p class="p-4 text-sm text-center text-gray-400">
            No backlog yet.
        </p>
    </div>

    <div class="m-4">
        <h2 class="text font-medium">Schedule</h2>
        <p class="p-4 text-sm text-center text-gray-400">
            No backlog yet.
        </p>
    </div>

</div>
{% endblock %}
