dialog.modal[open] {
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.25);
    animation: show 300ms ease-out normal;
}

dialog.modal.hide {
    animation: hide 200ms ease-in normal;
}

dialog.modal::backdrop {
    background: transparent;
}

@-webkit-keyframes show{
    from {
        opacity: 0;
        transform: translateY(1rem);
        transform: scale(.95);
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
        transform: scale(1);
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.25);
    }
}

@-webkit-keyframes hide{
    to {
        opacity: 0;
        transform: translateY(1rem);
        transform: scale(.95);
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0);
    }
}

@-webkit-keyframes show-backdrop {
    from {
        background: transparent;
    }
}

@-webkit-keyframes hide-backdrop{
    to {
        background: transparent;
    }
}

.spinner {
    animation: 1.2s cubic-bezier(0.32, 0.65, 0.71, 0.4) 0s infinite normal none running spin;
}

@keyframes spin {
    from {rotate: 0deg}
    to {rotate: 360deg}
}
