{% extends "base.html" %}
{% load static %}

{% block title %}CMMS{% endblock %}

{% block content %}
<div class="bg-slate-300">
    <div class="bg-gray-600 p-8 mb-16">
        <h1 class="font-bold text-4xl text-orange-400 mb-2">Our <span> CMMS</span> Provide</h1>
        <p class="text-base text-white">A reliable scheduling, tracking and reporting tools for equipment and facilities maintenance.
        It is easy and simple to use for management of medical organizations.</p>
    </div>
    <div class="grid grid-cols-3 gap-8 mx-8 mb-8 text-white">
        <div class="flex flex-col content-center p-8 h-80 bg-green-500 rounded">
            <div class="flex justify-center">
                <span class="material-symbols-outlined text-center text-4xl">event_available</span>
            </div>
            <div class="text-center text-2xl my-6">Work Order</div>
            <span class="font-light">Get the highest priority work done while making sure lower priority work doesn't slip through the cracks</span>  
        </div>
        <div class="flex flex-col items-center p-8 h-80 bg-orange-500 rounded">
            <div class="flex justify-center">
                <span class="material-symbols-outlined text-center text-4xl">engineering</span>
            </div>
            <div class="text-center text-2xl my-6"><h2>Parts Management</h2></div>
            <span class="font-light">Track and report on the consumption of items with simple inventory records</span>  
        </div>
        <div class="flex flex-col items-center p-8 h-80 bg-cyan-500 rounded">
            <div class="flex justify-center">
                <span class="material-symbols-outlined text-center text-4xl">collections_bookmark</span>
            </div>
            <div class="text-center text-2xl my-6"><h2>View Reports</h2></div>
            <span class="font-light">Viewing important reports like PPM, Installation, Daily Inspection</span>  
        </div>
        <div class="flex flex-col items-center p-8 h-80 bg-red-500 rounded">
            <div class="flex justify-center">
                <span class="material-symbols-outlined text-center text-4xl">ecg_heart</span>
            </div>
            <div class="text-center text-2xl my-6"><h2>Extend Equipment Life</h2></div>
            <span class="font-light">Identify Problem areas in your assets by checking work order history and saying on top of scheduled maintenance</span>  
        </div>
        <div class="flex flex-col items-center p-8 h-80 bg-pink-500 rounded">
            <div class="flex justify-center">
                <span class="material-symbols-outlined text-center text-4xl">schedule</span>
            </div>
            <div class="text-center text-2xl my-6"><h2>Minimize Downtime</h2></div>
            <span class="font-light">Reduce equipment downtime by optimizing maintenance scheduling and reducing the time it takes to respond to emergency repairs</span>  
        </div>
        <div class="flex flex-col items-center p-8 h-80 bg-indigo-500 rounded">
            <div class="flex justify-center">
                <span class="material-symbols-outlined text-center text-4xl">settings</span>
            </div>
            <div class="text-center text-2xl my-6"><h2>Reduce Maintenance Expenses</h2></div>
            <span class="font-light">Reduce the number of costly breakdown events and develop better oversight of your parts and supplies usages</span>  
        </div>
    </div>
    <div class="flex justify-center w-full h-96 bg-gray-600 mt-24 relative">
        <div class="flex flex-col justify-center w-1/3 bg-white rounded-xl mb-8 absolute -top-8">
            <img src="{% static 'logo.svg' %}" class="h-8 my-6">
            <div class="sm:mx-auto sm:w-full sm:max-w-sm pb-8">
                <form class="space-y-6" action="#" method="POST">
                    <div>
                        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
                        <div class="mt-2">
                            <input id="email" name="email" type="email" autocomplete="email" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-cyan-500 sm:text-sm sm:leading-6">
                        </div>
                    </div>

                    <div>
                        <div class="flex items-center justify-between">
                            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                            <div class="text-sm">
                                <a href="#" class="font-semibold text-cyan-500 hover:text-cyan-600">Forgot password?</a>
                            </div>
                        </div>
                        <div class="mt-2">
                          <input id="password" name="password" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-cyan-500 sm:text-sm sm:leading-6">
                        </div>
                    </div>

                    <div>
                        <button type="submit" class="flex w-full justify-center rounded-md bg-cyan-500 px-3 pt-1 pb-2 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-cyan-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-cyan-500">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
