{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}{{ block.super }} - Setup{% endblock %}

{% block content %}
<h1 class="text-xl font-bold" align="center">Welcome to CMMS</h1>
<p class="text-sm" align="center">Please setup an admin account before proceeding...</p>
<div class="sm:mx-auto sm:w-full sm:max-w-sm py-6">
    <form class="space-y-6" method="post">
        {% for hidden in form.hidden_fields %}
            <!-- csrf_token -->
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            <div>
                {% if field.label %}
                    <label for="{{ field.id_for_label }}" class="block text-sm font-medium leading-6 text-gray-900">{{ field.label }}</label>
                {% endif %}

                <div class="mt-2">
                    {{ field|add_class:"block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-cyan-500 sm:text-sm sm:leading-6" }}
                </div>

                {% if field.help_text %}
                    <div class="mt-4 text-sm p-4 bg-amber-400 rounded-xl border border-solid border-amber-300">{{ field.help_text }}</div>
                {% endif %}
                {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        {% endfor %}

        <div>
            <button type="submit" class="flex w-full justify-center rounded-md bg-cyan-500 px-3 pt-1 pb-2 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-cyan-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-cyan-500">Create Admin Account</button>
        </div>
    </form>
</div>
{% endblock %}
