{% extends "base.html" %}
{% load static widget_tweaks %}

{% block title %}{{ block.super }} - Setup{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />
{% endblock %}

{% block content %}
<h1 class="text-xl font-bold" align="center">Welcome to CMMS</h1>
<p class="text-sm" align="center">Please setup an admin account before proceeding...</p>
<div class="sm:mx-auto sm:w-full sm:max-w-sm py-6">
    <form class="space-y-6" method="post">
        {{ form.as_div }}

        <div>
            <button type="submit" class="flex w-full justify-center rounded-md bg-cyan-500 px-3 pt-1 pb-2 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-cyan-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-cyan-500">Create Admin Account</button>
        </div>
    </form>
</div>
{% endblock %}
