http:// {
	handle /pma* {
		root * /usr/share/webapps/phpMyAdmin
		file_server
		uri /pma* strip_prefix /pma
		php_fastcgi unix//run/php-fpm/php-fpm.sock
	}

	handle {
		reverse_proxy localhost:8000
	}
}

import /etc/caddy/conf.d/*
